html{
  background:#f9f9f9;
}
li{
  list-style-type:none;
}
body{
  width:1000px;
  margin:auto;
  font-family:helvetica,arial,sans-serif;
  font-size:15px;
}
header{
  padding:10px;
  height:100px;
}
#logo{
  float:left;
}
header{
  border-bottom:solid 1px #000;
  padding-bottom:50px;
}
header ul{
  float:right;
}
header li{
  float:left;
  padding:0 5px;
  margin-top:60px;
}
header li a{
  text-decoration:none;
  font-weight:bold;
  color:#000;
  letter-spacing:1px;
}
header li a:hover{
  color:#FF2828;
}

section{
  clear:both;
}
.achat{
  background:#fff;
  height:200px;
}
.achat h3{
  padding:10px;
  border-bottom:dashed 1px #dcdcdc;
}
#offres {
  padding:0;
}
#offres li{
  clear:both;
}
.offre_details{
  float:left;
  width:230px;
  padding:10px;
}
label,button{
  display:block;
}
button{
  padding:8px 12px;
  margin-top:10px;
  font-weight:bold;
  color:#fff;
  border:none;
  border-radius:5px;
  background:#278A2C;
}
button:hover{
  cursor:pointer;
  background:#25C74D;
}
.annuler{
  background:#CC0500;
}
.annuler:hover{
  background:#FF0600;
}
:invalid {
  border: 1px solid #ff0000;
}
