<li class="achat">
  <h3>Achat de l'offre pizza palace</h3>
  <form>
    <div class="offre_details">
      <label>Nom</label>
      <input name="nom" required />
    </div>
    <div class="offre_details">
      <label>Prénom</label>
      <input name="prenom" required />
    </div>
    <div class="offre_details">
      <label>E-mail</label>
      <input type="email" id="email_addr" name="email_addr" required />
    </div>
    <div class="offre_details">
      <label>Numéro de Carte de Crédit</label>
      <input name="carte_credit" required />
      <button>Acheter</button>
      <button class="annuler">Annuler</button>
    </div>
  </form>
</li>
